
.header1 {
    background-color: orange;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: 100%;
    z-index: 10000;

    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px;
    box-sizing: border-box;
}



.pridati-text:active {
    transform: translateY(10px);
}
.oblubenei-text:active {
    transform: translateY(10px);
}
.mojei-text:active {
    transform: translateY(10px);
}

.nazov {
    display: flex;
    align-items: center;
}

.nazov-text {
    font-size: 50px;
    color: white;
    text-decoration: none;
}
.nazov-text:hover {
    color: rgb(255, 68, 0);
    transition: 0.5s;
}

.searchbar {
    flex: 1;                 
    display: flex;
    justify-content: center;
}
.searchbar-text {
    height: 35px;
    font-size: 20px;
    width: 60%;
    max-width: 10000px;
    border-radius: 25px;
}

.moje-inz,
.oblubene-inz,
.pridat-inzerat,
.toggle-dark {
    display: flex;
    align-items: center;
    background-color: orange;
}

.mojei-text,
.pridati-text,
.dark-toggle {
    height: 50px;
    padding: 0 18px;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background-color: white;
}
.oblubenei-text{
    height: 50px;

    padding: 0 18px;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background-color: orange;
}

.dark-toggle {
    background-color: white;
        border-radius: 50%;
    border: none;
    cursor: pointer;
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://www.freeiconspng.com/thumbs/crescent-moon-png/crescent-moon-png-20.png");
}
.dark-mode .dark-toggle {
    background-image: url("https://static.thenounproject.com/png/1843184-200.png");
}
.dark-toggle {
    width: 50px;
    height: 51px;
    border-radius: 25px;
    border: none;

}

.dark-toggle:hover {
    background-color: orangered;
    color: white;
    transition: 0.5s;

}
.dark-mode {
    background-color: black;
    color: white;
}

.mojei-text:hover,
.oblubenei-text:hover,
.pridati-text:hover {
    background-color: orangered;
    transition: 0.3s;
}

.moje-inz,
.oblubene-inz,
.pridat-inzerat,
.toggle-dark {
    margin: 0;
    position: static;
}
.oblubenei-button{
       height: 50px;
    padding: 0 18px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background-color: orange;
}



.div-grid {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    height: 200px;
    column-gap: 20px;
    row-gap: 20px;
}
.category{
object-fit: cover;
height: 300px;
width: 300px;
border: none;
background-color: rgba(255, 255, 255, 0);

}
.category-img{
height: 280px;
width: 280px;

}
.cat-div{
    position: relative;
}
.cat-div:active{
    transform: translateY(10px);
}
.login-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.login-box {
    background: orange;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.login-box input {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
}